USE [master]
GO
/****** Object:  Database [hernandezlu]    Script Date: 31/05/2021 08:34:10 p. m. ******/
CREATE DATABASE [hernandezlu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hernandezlu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hernandezlu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hernandezlu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hernandezlu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hernandezlu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hernandezlu]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 31/05/2021 08:34:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Nombre] [varchar](1) NULL,
	[Direccion] [varchar](1) NULL,
	[Pais] [varchar](1) NULL,
	[Telefono] [varchar](1) NULL,
	[Region] [varchar](1) NULL
) ON [PRIMARY]
GO
USE [master]
GO
