USE [master]
GO
/****** Object:  Database [hernandezlu]    Script Date: 02/06/2021 07:43:30 p. m. ******/
CREATE DATABASE [hernandezlu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hernandezlu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hernandezlu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hernandezlu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hernandezlu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hernandezlu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hernandezlu]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 02/06/2021 07:43:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido1] [varchar](50) NULL,
	[apellido2] [varchar](50) NULL,
	[edad] [int] NULL,
	[semestre] [varchar](10) NULL,
	[promedio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alumnos] ON 

INSERT [dbo].[alumnos] ([id], [nombre], [apellido1], [apellido2], [edad], [semestre], [promedio]) VALUES (1, N'Judit', N'Hernandez', N'Luna', 21, N'Septimo', 70)
INSERT [dbo].[alumnos] ([id], [nombre], [apellido1], [apellido2], [edad], [semestre], [promedio]) VALUES (2, N'Daniel', N'Martinez', N'Mota', 22, N'Noveno', 80)
INSERT [dbo].[alumnos] ([id], [nombre], [apellido1], [apellido2], [edad], [semestre], [promedio]) VALUES (3, N'Mariam', N'Lopez', N'Cruz', 18, N'Segundo', 90)
SET IDENTITY_INSERT [dbo].[alumnos] OFF
GO
USE [master]
GO
